[data-theme=light] {
  --theme-bg: var(--theme-elevation-0);
  --theme-input-bg: var(--theme-elevation-50);
  --theme-text: var(--theme-elevation-800); /* Alterado para um tom mais escuro para melhor legibilidade */
  --theme-border-color: var(--theme-elevation-150);

  color-scheme: light;
  color: var(--theme-text);

  --highlight-default-bg-color: var(--theme-success-400);
  --highlight-default-text-color: var(--theme-elevation-800); /* Ajustado para combinar com o tema de texto */

  --highlight-danger-bg-color: var(--theme-error-150);
  --highlight-danger-text-color: var(--theme-elevation-800); /* Ajustado para combinar com o tema de texto */

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: var(--theme-elevation-800);

    &:hover {
      color: var(--theme-elevation-850); /* Ajustado para um tom mais claro ao passar o mouse */
    }

    &:visited {
      color: var(--theme-elevation-800);

      &:hover {
        color: var(--theme-elevation-850); /* Ajustado para um tom mais claro ao passar o mouse */
      }
    }
  }
}

[data-theme=dark] {
  --theme-bg: var(--theme-elevation-100);
  --theme-text: var(--theme-elevation-900);
  --theme-input-bg: var(--theme-elevation-150);
  --theme-border-color: var(--theme-elevation-250);

  color-scheme: dark;
  color: var(--theme-text);

  --highlight-default-bg-color: var(--theme-success-100);
  --highlight-default-text-color: var(--theme-success-600);

  --highlight-danger-bg-color: var(--theme-error-100);
  --highlight-danger-text-color: var(--theme-error-550);

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: var(--theme-success-600);

    &:hover {
      color: var(--theme-success-400);
    }

    &:visited {
      color: var(--theme-success-700);

      &:hover {
        color: var(--theme-success-500);
      }
    }
  }
}
