@use 'queries' as *;

%h1,
%h2,
%h3,
%h4,
%h5,
%h6 {
  font-weight: 700;
}

%h1 {
  margin: 32px 0; /* Reduzindo um pouco o espaçamento superior */
  font-size: 56px; /* Reduzindo o tamanho da fonte */
  line-height: 64px; /* Ajustando a linha base para melhor legibilidade */
  font-weight: bold;

  @include mid-break {
    margin: 24px 0; /* Reduzindo o espaçamento superior para telas menores */
    font-size: 42px;
    line-height: 48px; /* Ajustando a linha base para telas menores */
  }
}

%h2 {
  margin: 24px 0; /* Reduzindo um pouco o espaçamento superior */
  font-size: 42px; /* Reduzindo o tamanho da fonte */
  line-height: 48px; /* Ajustando a linha base para melhor legibilidade */
  font-weight: bold;

  @include mid-break {
    margin: 20px 0; /* Reduzindo o espaçamento superior para telas menores */
    font-size: 32px;
    line-height: 40px; /* Ajustando a linha base para telas menores */
  }
}

%h3 {
  margin: 20px 0; /* Reduzindo um pouco o espaçamento superior */
  font-size: 32px;
  line-height: 40px; /* Ajustando a linha base para melhor legibilidade */
  font-weight: bold;

  @include mid-break {
    margin: 16px 0; /* Reduzindo o espaçamento superior para telas menores */
    font-size: 26px;
    line-height: 32px; /* Ajustando a linha base para telas menores */
  }
}

%h4 {
  margin: 16px 0; /* Reduzindo um pouco o espaçamento superior */
  font-size: 26px;
  line-height: 32px; /* Ajustando a linha base para melhor legibilidade */
  font-weight: bold;

  @include mid-break {
    margin: 12px 0; /* Reduzindo o espaçamento superior para telas menores */
    font-size: 22px;
    line-height: 30px; /* Ajustando a linha base para telas menores */
  }
}

%h5 {
  margin: 16px 0; /* Reduzindo um pouco o espaçamento superior */
  font-size: 22px;
  line-height: 30px; /* Ajustando a linha base para melhor legibilidade */
  font-weight: bold;

  @include mid-break {
    margin: 12px 0; /* Reduzindo o espaçamento superior para telas menores */
    font-size: 18px;
    line-height: 24px; /* Ajustando a linha base para telas menores */
  }
}

%h6 {
  margin: 16px 0; /* Reduzindo um pouco o espaçamento superior */
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}

%body {
  font-size: 18px;
  line-height: 32px;

  @include mid-break {
    font-size: 15px;
    line-height: 24px;
  }
}

%large-body {
  font-size: 25px;
  line-height: 32px;

  @include mid-break {
    font-size: 22px;
    line-height: 30px;
  }
}

%label {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

  @include mid-break {
    font-size: 13px;
  }
}
